{
    "root": false,
    "parserOptions": {
        "sourceType": "script"
    },
    "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "no-console": "off"
    },
    "env": {
        "node": true
    }
}
